{$DOMAIN} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:3000
  }

  handle {
    reverse_proxy web:80
  }
}

navlight.rogainizer.com {
  encode zstd gzip

  handle /api/* {
    reverse_proxy navlight-backend:3001
  }

  handle {
    reverse_proxy navlight-frontend:80
  }
}

planner.rogainizer.com {
  reverse_proxy navlight-mapper-frontend:80
}
