@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    @apply min-h-screen;
  }

  body {
    @apply m-0 bg-gradient-to-b from-slate-100 to-slate-200 text-slate-900 antialiased;
  }
}
